In [4]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

url = "https://finance.naver.com/sise/"

page = urlopen(url)
page
soup = BeautifulSoup(page, "html.parser")
soup.title

In [17]:
kospi = soup.find("span", id= "KOSPI_now").text
print("코스피: ", kospi)

kosdaq = soup.find("span", id= "KOSDAQ_now").text
print("코스닥: ", kosdaq)

kpi = soup.find("span", id= "KPI200_now").text
print("kpi:" ,kpi)

코스피:  3,276.26
코스닥:  999.15
kpt: 436.53

### 인기종목

In [86]:
hot = soup.find("ul", id= "popularItemList").find_all("li")
hot

[<li><em>1.</em><a href="/item/main.nhn?code=035420" onclick="clickcr(this,'boa.list','035420','1',event)">NAVER</a><span class="up">394,500</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>,
 <li><em>2.</em><a href="/item/main.nhn?code=005930" onclick="clickcr(this,'boa.list','005930','2',event)">삼성전자</a><span class="up">81,500</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>,
 <li><em>3.</em><a href="/item/main.nhn?code=004410" onclick="clickcr(this,'boa.list','004410','3',event)">서울식품</a><span class="up">458</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>,
 <li><em>4.</em><a href="/item/main.nhn?code=035720" onclick="clickcr(this,'boa.list','035720','4',event)">카카오</a><span class="dn">143,000</span><em class="bu_p bu_pdn"><span class="blind">하락</span></em></li>,
 <li><em>5.</em><a href="/item/main.nhn?code=034020" onclick="clickcr(this,'boa.list','034020','5',event)">두산중공업</a><span class="up">24,600</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>,
 <li><em>6.</em><a href="/item/main.nhn?code=102280" onclick="clickcr(this,'boa.list','102280','6',event)">쌍방울</a><span class="dn">1,275</span><em class="bu_p bu_pdn"><span class="blind">하락</span></em></li>,
 <li><em>7.</em><a href="/item/main.nhn?code=011200" onclick="clickcr(this,'boa.list','011200','7',event)">HMM</a><span class="up">45,600</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>,
 <li><em>8.</em><a href="/item/main.nhn?code=006340" onclick="clickcr(this,'boa.list','006340','8',event)">대원전선</a><span class="up">3,475</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>,
 <li><em>9.</em><a href="/item/main.nhn?code=001440" onclick="clickcr(this,'boa.list','001440','9',event)">대한전선</a><span class="up">3,290</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>,
 <li><em>10.</em><a href="/item/main.nhn?code=130660" onclick="clickcr(this,'boa.list','130660','10',event)">한전산업</a><span class="up">10,900</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>]

In [35]:
print(hot[0].find("a").text)
print(hot[0].find("span").text)

NAVER
394,500

In [36]:
for one in hot:
    com= one.find("a").text
    price= one.find("span").text
    updown=one.find()
    print("회사명: ",com,"등락:", price)
    print("등락:", price)

회사명:  NAVER
등락: 394,500
회사명:  삼성전자
등락: 81,500
회사명:  서울식품
등락: 458
회사명:  카카오
등락: 143,000
회사명:  두산중공업
등락: 24,600
회사명:  쌍방울
등락: 1,275
회사명:  HMM
등락: 45,600
회사명:  대원전선
등락: 3,475
회사명:  대한전선
등락: 3,290
회사명:  한전산업
등락: 10,900

### 태그의 속성출력하기
* one = stock_all[0].find("span")
* one.get("class")

In [50]:
for one in hot:
    updown=one.find("span")

    up=one.find("span").get("class")
    print(updown.get("class"), up)

['up'] ['up']
['up'] ['up']
['up'] ['up']
['dn'] ['dn']
['up'] ['up']
['dn'] ['dn']
['up'] ['up']
['up'] ['up']
['up'] ['up']
['up'] ['up']

In [51]:
for one in hot:
    com= one.find("a").text
    price= one.find("span").text
    up=one.find("span").get("class")
    
    print("회사명: ",com,"등락:", up,"수치: ",price)

회사명:  NAVER 등락: ['up'] 수치:  394,500
회사명:  삼성전자 등락: ['up'] 수치:  81,500
회사명:  서울식품 등락: ['up'] 수치:  458
회사명:  카카오 등락: ['dn'] 수치:  143,000
회사명:  두산중공업 등락: ['up'] 수치:  24,600
회사명:  쌍방울 등락: ['dn'] 수치:  1,275
회사명:  HMM 등락: ['up'] 수치:  45,600
회사명:  대원전선 등락: ['up'] 수치:  3,475
회사명:  대한전선 등락: ['up'] 수치:  3,290
회사명:  한전산업 등락: ['up'] 수치:  10,900

In [78]:
hot[0]

<li><em>1.</em><a href="/item/main.nhn?code=035420" onclick="clickcr(this,'boa.list','035420','1',event)">NAVER</a><span class="up">394,500</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>

In [69]:
print(stock_all[0].find("a").get("onclick").split(',')[2])

'035420'

In [83]:
for one in hot:
    com= one.find("a").text
    price= one.find_all("span")[0].text
    ud= one.find_all("span")[1].text
    code= one.find("a").get("onclick").split(',')[2]
    
    print("회사명: ",com,"등락:", ud,"수치: ",price, "코드: ",code)

회사명:  NAVER 등락: 상승 수치:  394,500 코드:  '035420'
회사명:  삼성전자 등락: 상승 수치:  81,500 코드:  '005930'
회사명:  서울식품 등락: 상승 수치:  458 코드:  '004410'
회사명:  카카오 등락: 하락 수치:  143,000 코드:  '035720'
회사명:  두산중공업 등락: 상승 수치:  24,600 코드:  '034020'
회사명:  쌍방울 등락: 하락 수치:  1,275 코드:  '102280'
회사명:  HMM 등락: 상승 수치:  45,600 코드:  '011200'
회사명:  대원전선 등락: 상승 수치:  3,475 코드:  '006340'
회사명:  대한전선 등락: 상승 수치:  3,290 코드:  '001440'
회사명:  한전산업 등락: 상승 수치:  10,900 코드:  '130660'

In [57]:
# 다른 분 답
search_stock=soup.find('ul',id='popularItemList')
stock_all=search_stock.find_all('li')
com_all=[]
price_all=[]
rank_all=[]
code_all=[]
for one in stock_all:
    com_one=one.find('a').text
    price_one=one.find('span').text
    rank_one=one.find('span',class_='blind').text
    code_one=one.find('a').get("onclick").split(',')[2]
    com_all.append(com_one)
    price_all.append(price_one)
    rank_all.append(rank_one)
    code_all.append(code_one)
print(com_all)
print(price_all)
print(rank_all)
print(code_all)

['NAVER', '삼성전자', '서울식품', '카카오', '두산중공업', '쌍방울', 'HMM', '대원전선', '대한전선', '한전산업']
['394,500', '81,500', '458', '143,000', '24,600', '1,275', '45,600', '3,475', '3,290', '10,900']
['상승', '상승', '상승', '하락', '상승', '하락', '상승', '상승', '상승', '상승']
["'035420'", "'005930'", "'004410'", "'035720'", "'034020'", "'102280'", "'011200'", "'006340'", "'001440'", "'130660'"]

In [96]:
*원래 나의 답변
for one in hot:
    com= hot.find_all("a").text
    price= hot.find_all("span").text
    print("회사명: ",com)
    print("등락:", price)

SyntaxError: invalid syntax (<ipython-input-96-b675e921cffc>, line 1)

* 주요 해외 지수 가져오기

In [106]:
major = soup.find("ul", class_="lst_major").find_all("li")
major

[<li><a href="/world/sise.nhn?symbol=DJI@DJI&amp;fdtc=0" onclick="clickcr(this,'wst.dow','','',event)">다우산업</a><span class="dn">34,299.33</span><em class="bu_p bu_pdn"><span class="blind">하락</span></em></li>,
 <li><a href="/world/sise.nhn?symbol=NAS@IXIC&amp;fdtc=0" onclick="clickcr(this,'wst.nasdaq','','',event)"> 나스닥</a><span class="dn">14,072.86</span><em class="bu_p bu_pdn"><span class="blind">하락</span></em></li>,
 <li><a href="/world/sise.nhn?symbol=HSI@HSCE&amp;fdtc=0" onclick="clickcr(this,'wst.hsce','','',event)"> 홍콩H</a><span class="dn">10,605.78</span><em class="bu_p bu_pdn"><span class="blind">하락</span></em></li>,
 <li><a href="/world/sise.nhn?symbol=SHS@000001&amp;fdtc=0" onclick="clickcr(this,'wst.shs','','',event)"> 상해종합</a><span class="dn">3,529.11</span><em class="bu_p bu_pdn"><span class="blind">하락</span></em></li>,
 <li><a href="/world/sise.nhn?symbol=NII@NI225&amp;fdtc=0" onclick="clickcr(this,'wst.ni225','','',event)"> 니케이225</a><span class="dn">29,329.05</span><em class="bu_p bu_pdn"><span class="blind">하락</span></em></li>]

In [ ]:
* 원래 내 답
major = soup.find("ul").get("lst_major").find_all("li")

In [114]:
name= []
index=[]
blind=[]

for i in major:
    name1 = i.find("a").text
    index2 = i.find("span").text
    blind3 = i.find("span", class_="blind").text
    name.append(name1)
    index.append(index2)
    blind.append(blind3)
print(name, index, blind)

['다우산업', ' 나스닥', ' 홍콩H', ' 상해종합', ' 니케이225'] ['34,299.33', '14,072.86', '10,605.78', '3,529.11', '29,329.05'] ['하락', '하락', '하락', '하락', '하락']

In [115]:
import pandas as pd

dat = { '회사명':name, 'index':index,'등락':blind }
dat = pd.DataFrame(dat)
dat

       회사명      index  등락
0     다우산업  34,299.33  하락
1      나스닥  14,072.86  하락
2      홍콩H  10,605.78  하락
3     상해종합   3,529.11  하락
4   니케이225  29,329.05  하락

In [116]:
dat.to_excel("주요해외지수.xlsx", index=False)

##확인
import os
print(os.getcwd())
print(os.listdir(os.getcwd()))

C:\Users\이규림\Documents\GitHub\likelion
['.git', '.ipynb_checkpoints', 'bs4.ipynb', 'html_1.html', 'README.md', 'test.py', 'Untitled.ipynb', 'untitled.txt', '네이버 증권 실습.ipynb', '네이버 증권.ipynb', '주요해외지수.xlsx', '회사명과 웹사이트.csv', '회사명과 웹사이트.xlsx']